body {
    background: url("123fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'times new roman', serif;
    text-align: center;
}

/* Títulos principales */
.titulo-principal {
    color: white;
}

/* Colores de texto */
.texto-blanco {
    color: white;
}

.titulo-amarillo {
    color: rgb(223, 183, 24);
}

/* Líneas */
.linea-azul {
    border: 2px solid blue;
}

.linea-roja {
    border: 2px solid red;
}

/* Imagen centrada */
.img-centro {
    display: block;
    margin: 20px auto;
}

/* Marquesina */
.marquesina {
    color: rgb(248, 247, 243);
}

/* Tablas */
.tabla-centro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Lista */
.lista {
    list-style: none;
    padding: 0;
}

.lista-centro {
    text-align: center;
}

.lista li {
    font-size: 22px;
}

/* Enlaces */
.enlace {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.enlace:hover {
    color: yellow;
}

/* Ancho del texto de enfoque */
.ancho-texto {
    width: 70%;
    margin: 0 auto;
}